@tailwind base;
@tailwind components;
@tailwind utilities;

.serviceInofCard::after {
  content: "d";
  position: relative;
  background-color: red;
  transform: rotate(40deg);
}

.polygon {
  clip-path: polygon(0% 100%, 20% 0%, 100% 0%, 100% 100%);
}
.polygon-reverse {
  clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 90% 100%);
}
